@charset "UTF-8";
@font-face {
  font-family: "PPGlare";
  font-style: normal;
  font-weight: 100 200 300 400 500 600 700 800 900;
  src: url("../assets/fonts/PPFragment-GlareVariable.woff2") format("woff2");
}
@font-face {
  font-family: "PPSans";
  font-style: normal;
  font-weight: 100 200 300 400 500 600 700 800 900;
  src: url("../assets/fonts/PPFragment-SansVariable.woff2") format("woff2");
}
@font-face {
  font-family: "PPSerif";
  font-style: normal;
  font-weight: 100 200 300 400 500 600 700 800 900;
  src: url("../assets/fonts/PPFragment-SerifVariable.woff2") format("woff2");
}
@font-face {
  font-family: "PPText";
  font-style: normal;
  font-weight: 100 200 300 400 500 600 700 800 900;
  src: url("../assets/fonts/PPFragment-TextVariable.woff2") format("woff2");
}
/* 폰트 관련 */
.glare {
  font-family: "PPGlare", sans-serif;
}

.sans {
  font-family: "PPSans", sans-serif;
}

.serif {
  font-family: "PPSerif", sans-serif;
}

.text {
  font-family: "PPText", sans-serif;
}

@media (max-width: 699px) {
  .pc-only {
    display: none !important;
  }
}

@media (min-width: 700px) {
  .mb-only {
    display: none !important;
  }
}

/**모바일/pc 관련*/
/*버튼 관련*/
.btn {
  font-variation-settings: "wght" 500;
  display: inline-block;
  padding: 1.2rem 2rem;
  position: relative;
  line-height: 1;
  text-transform: uppercase;
}
.btn-white {
  background: #fff;
  color: #000;
}
.btn-slide:not(:first-child) {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/** 접근성 관련 **/
.blind {
  font-size: 0;
  position: absolute;
  display: block;
  z-index: -9999;
  text-indent: 9999;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

html {
  width: 100%;
  font-size: 62.5%;
}
@media (max-width: 699px) {
  html {
    font-size: calc(62.5% - 7.8%);
  }
}
@media (min-width: 700px) and (max-width: 999px) {
  html {
    font-size: calc(62.5% - 7.8%);
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  html {
    font-size: calc(62.5% - 3.9%);
  }
}
@media (min-width: 1200px) and (max-width: 1599px) {
  html {
    font-size: 62.5%;
  }
}
@media (min-width: 1600px) and (max-width: 1999px) {
  html {
    font-size: calc(62.5% + 3.9%);
  }
}
@media (min-width: 2000px) and (max-width: 2399px) {
  html {
    font-size: calc(62.5% + 7.8%);
  }
}
@media (min-width: 2400px) {
  html {
    font-size: calc(62.5% + 11.7%);
  }
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: inherit;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

a,
img {
  display: block;
}

button {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
}

body {
  font-variation-settings: "wght" 300;
  word-break: keep-all;
  font-family: "PPSans", sans-serif;
  word-break: keep-all;
  position: relative;
  overflow-x: hidden;
}

main {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PPSans", sans-serif;
}

button {
  font-family: "PPSans", sans-serif;
  background: transparent;
  border: none;
  cursor: pointer;
}

main {
  background: #000;
  color: #fff;
}

.header {
  font-variation-settings: "wght" 400;
  width: 100%;
  height: 6.587rem;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  font-size: 1.2rem;
  background: #000;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-direction: row;
  height: 100%;
  padding: 0 2rem;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  z-index: 1000;
}

.menu {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
  flex-direction: row;
  position: fixed;
  width: calc(37.5vw + 6.2rem);
  height: 100vh;
  z-index: 998;
  top: 0;
  left: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 100;
  font-size: 2.8rem;
  padding-top: 6.587rem;
  background: #000;
  color: #fff;
  font-size: 2.8rem;
}
.menu a:hover {
  text-decoration: underline;
}
@media (max-width: 699px) {
  .menu {
    width: 100%;
  }
}
.menu-opener {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  width: 6.2rem;
  order: 1;
  flex-shrink: 0;
  position: relative;
}
@media (max-width: 699px) {
  .menu-opener {
    display: none;
  }
}
.menu-title {
  position: absolute;
  font-weight: 100;
  font-size: 1.6rem;
  bottom: 2rem;
  right: 0;
  white-space: nowrap;
  line-height: 1;
}
.menu-title span {
  display: inline-block;
  writing-mode: vertical-rl;
  transform: rotate(-180deg) translateX(150%);
}
.menu-btn {
  display: none;
}
@media (max-width: 699px) {
  .menu-btn {
    display: block;
  }
}
.menu-close-btn {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  cursor: pointer;
  transition: transform 0.3s;
}
.menu-close-btn-container {
  display: flex;
  width: 6.2rem;
  transform: translateX(2rem);
}
.menu-close-btn:hover {
  transform: scale(0.75);
}
.menu-close-btn::after, .menu-close-btn::before {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  height: 0.2rem;
  left: 0;
  top: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: inline-block;
  background: #fff;
}
.menu-close-btn::before {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.menu-close-btn::after {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.menu-inner {
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  white-space: nowrap;
  overflow: hidden;
}
.menu-contents {
  font-variation-settings: "wght" 300;
  flex-grow: 1;
}
@media (max-width: 699px) {
  .menu-contents {
    width: 100%;
    font-size: 3.2rem;
  }
}
.menu-site-title {
  font-variation-settings: "wght" 350;
  font-family: "PPSerif", sans-serif;
  font-size: 2.8rem;
  padding-top: 2.1rem;
  padding-bottom: 5.6rem;
}
@media (max-width: 699px) {
  .menu-site-title {
    width: 100%;
    font-size: 3.2rem;
  }
}
.menu-list {
  margin-bottom: 4.2rem;
}
.menu-item {
  line-height: 1.2;
}
.menu-item a {
  position: relative;
}
.menu-item a::before {
  display: inline-block;
  width: 5.6rem;
}
@media (max-width: 699px) {
  .menu-item a::before {
    width: 6.5rem;
  }
}
.menu-item:nth-child(1) a::before {
  content: "①";
}
.menu-item:nth-child(2) a::before {
  content: "②";
}
.menu-item:nth-child(3) a::before {
  content: "③";
}
.menu-item:nth-child(4) a::before {
  content: "④";
}
.menu-item:nth-child(5) a::before {
  content: "⑤";
}
.menu-item:nth-child(6) a::before {
  content: "⑥";
}
.menu-external-list {
  font-size: 1.6rem;
}
.menu-external-item {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 0;
  flex-direction: row;
  line-height: 1.2;
}
.menu-external-item::before {
  content: "→";
  display: inline-block;
  width: 3.2rem;
}
.menu-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-direction: row;
  margin-top: 4.405rem;
  font-size: 1.6rem;
  max-width: 30.4rem;
  width: 100%;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: inherit;
  font-weight: inherit;
}
@media (max-width: 699px) {
  .title {
    position: static;
    transform: none;
  }
}/*# sourceMappingURL=style.css.map */