@charset "UTF-8";
@font-face {
  font-family: "PPGlare";
  font-style: normal;
  font-weight: 100 200 300 400 500 600 700 800 900;
  src: url("../assets/fonts/PPFragment-GlareVariable.woff2") format("woff2");
}
@font-face {
  font-family: "PPSans";
  font-style: normal;
  font-weight: 100 200 300 400 500 600 700 800 900;
  src: url("../assets/fonts/PPFragment-SansVariable.woff2") format("woff2");
}
@font-face {
  font-family: "PPSerif";
  font-style: normal;
  font-weight: 100 200 300 400 500 600 700 800 900;
  src: url("../assets/fonts/PPFragment-SerifVariable.woff2") format("woff2");
}
@font-face {
  font-family: "PPText";
  font-style: normal;
  font-weight: 100 200 300 400 500 600 700 800 900;
  src: url("../assets/fonts/PPFragment-TextVariable.woff2") format("woff2");
}
@keyframes animation__ticker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-51.75%);
  }
}
@keyframes animation__roll {
  0% {
    transform: translate(0);
  }
  40% {
    transform: translateY(-115%);
  }
  40.001% {
    transform: translateY(115%);
  }
  100% {
    transform: translate(0);
  }
}
/* 폰트 관련 */
.glare {
  font-family: "PPGlare", sans-serif;
}

.sans {
  font-family: "PPSans", sans-serif;
}

.serif {
  font-family: "PPSerif", sans-serif;
}

.text {
  font-family: "PPText", sans-serif;
}

@media (max-width: 699px) {
  .pc-only {
    display: none !important;
  }
}

@media (min-width: 1000px) {
  .tb-only {
    display: none !important;
  }
}

@media (min-width: 700px) {
  .mb-only {
    display: none !important;
  }
}

/**모바일/pc 관련*/
/*버튼 관련*/
.btn {
  font-variation-settings: "wght" 400;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  display: inline-block;
  padding: 1.2rem 2rem;
  position: relative;
  line-height: 1;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.btn-white {
  background: #fff;
  color: #000;
}
.btn:hover .char {
  animation: animation__roll 0.7s both;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.btn:hover .char:nth-child(1) {
  animation-delay: 0s;
}
.btn:hover .char:nth-child(2) {
  animation-delay: 0.02s;
}
.btn:hover .char:nth-child(3) {
  animation-delay: 0.04s;
}
.btn:hover .char:nth-child(4) {
  animation-delay: 0.06s;
}
.btn:hover .char:nth-child(5) {
  animation-delay: 0.08s;
}
.btn:hover .char:nth-child(6) {
  animation-delay: 0.1s;
}
.btn:hover .char:nth-child(7) {
  animation-delay: 0.12s;
}
.btn:hover .char:nth-child(8) {
  animation-delay: 0.14s;
}
.btn:hover .char:nth-child(9) {
  animation-delay: 0.16s;
}
.btn:hover .char:nth-child(10) {
  animation-delay: 0.18s;
}
.btn:hover .char:nth-child(11) {
  animation-delay: 0.2s;
}
.btn:hover .char:nth-child(12) {
  animation-delay: 0.22s;
}
.btn:hover .char:nth-child(13) {
  animation-delay: 0.24s;
}
.btn:hover .char:nth-child(14) {
  animation-delay: 0.26s;
}
.btn:hover .char:nth-child(15) {
  animation-delay: 0.28s;
}
.btn:hover .char:nth-child(16) {
  animation-delay: 0.3s;
}
.btn:hover .char:nth-child(17) {
  animation-delay: 0.32s;
}
.btn:hover .char:nth-child(18) {
  animation-delay: 0.34s;
}
.btn:hover .char:nth-child(19) {
  animation-delay: 0.36s;
}
.btn:hover .char:nth-child(20) {
  animation-delay: 0.38s;
}
.btn:hover .char:nth-child(21) {
  animation-delay: 0.4s;
}
.btn:hover .char:nth-child(22) {
  animation-delay: 0.42s;
}
.btn:hover .char:nth-child(23) {
  animation-delay: 0.44s;
}
.btn:hover .char:nth-child(24) {
  animation-delay: 0.46s;
}
.btn:hover .char:nth-child(25) {
  animation-delay: 0.48s;
}
.btn:hover .char:nth-child(26) {
  animation-delay: 0.5s;
}
.btn:hover .char:nth-child(27) {
  animation-delay: 0.52s;
}
.btn:hover .char:nth-child(28) {
  animation-delay: 0.54s;
}
.btn:hover .char:nth-child(29) {
  animation-delay: 0.56s;
}
.btn:hover .char:nth-child(30) {
  animation-delay: 0.58s;
}
.btn-slide {
  display: inline-block;
  overflow: hidden;
}
.btn-slide:not(:first-child) {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/** 섹션 **/
.sc-inner {
  min-height: calc(100vh - 6.587rem);
  padding: 2rem;
  position: relative;
}
.sc-title {
  font-variation-settings: "wght" 200;
  font-family: "PPGlare", sans-serif;
  font-size: clamp(18px, 2.3333333333vw, 42px);
}

/** 접근성 관련 **/
.blind {
  font-size: 0;
  position: absolute;
  display: block;
  z-index: -9999;
  text-indent: 9999;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

/** 스펙 표 **/
.spec-row {
  display: flex;
  justify-content: stretch;
  align-items: flex-start;
  gap: 0;
  flex-direction: row;
  font-variation-settings: "wght" 400;
  font-size: 1.6rem;
  padding: 0.8rem 0;
  border-top: 1px solid #fff;
  gap: 2rem;
}
.spec-cate {
  flex: 1 0 0;
}
.spec-desc {
  flex: 1 0 0;
}

/** ticker **/
.ticker {
  font-variation-settings: "wght" 200;
  font-size: clamp(21px, 1.328vw, 30px);
  display: flex;
  white-space: nowrap;
  -webkit-text-stroke-width: 1px;
  animation: animation__ticker 5s linear infinite both;
}
.ticker-item {
  text-transform: uppercase;
}
.ticker-item::before {
  width: 4em;
  display: inline-block;
  text-align: center;
}
.ticker-item:nth-child(2n+1)::before {
  content: "✳";
}
.ticker-item:nth-child(2n) {
  font-family: "PPSerif", sans-serif;
}
.ticker-item:nth-child(2n)::before {
  content: "●";
}

/* 슬라이더 관련 */
.label {
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
  opacity: 0.6;
}

.slider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 2px;
  margin-top: 4rem;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #000;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 100%;
  border: 1px solid #fff;
  cursor: pointer;
}
.slider-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-direction: row;
}
.slider-value {
  font-size: 1.4rem;
}

/*selector 관련*/
.selector {
  font-variation-settings: "wght" 400;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: "PPSans", sans-serif;
  background: #000;
  padding: 1.2rem 2rem;
  border: none;
  text-align: left;
  font-size: 1.4rem;
  line-height: normal;
}
.selector:focus {
  outline: none;
  background: #fff;
  color: #000;
}
.selector-wrap {
  position: relative;
}
.selector-wrap::after {
  content: "↓";
  position: absolute;
  display: inline-block;
  top: 46%;
  right: 2rem;
  font-size: 1.6rem;
  transform: translateY(-50%);
  pointer-events: none;
}
.selector-option {
  display: none;
  background: #000;
  position: absolute;
  top: 100%;
  left: -1px;
  width: calc(100% + 2px);
  background: #000;
  color: #fff;
  max-height: 50vh;
}
.selector-option-item {
  border: 1px solid #fff;
  padding: 1.2rem 2rem;
  border-top: none;
  font-size: 1.4rem;
  line-height: normal;
}
.selector-option-item:first-child {
  border-top: 1px solid #fff;
}

html {
  width: 100%;
  font-size: 62.5%;
}
@media (max-width: 699px) {
  html {
    font-size: calc(62.5% - 7.8%);
  }
}
@media (min-width: 700px) and (max-width: 999px) {
  html {
    font-size: calc(62.5% - 7.8%);
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  html {
    font-size: calc(62.5% - 3.9%);
  }
}
@media (min-width: 1200px) and (max-width: 1599px) {
  html {
    font-size: 62.5%;
  }
}
@media (min-width: 1600px) and (max-width: 1999px) {
  html {
    font-size: calc(62.5% + 3.9%);
  }
}
@media (min-width: 2000px) and (max-width: 2399px) {
  html {
    font-size: calc(62.5% + 7.8%);
  }
}
@media (min-width: 2400px) {
  html {
    font-size: calc(62.5% + 11.7%);
  }
}

html,
body {
  background: #000;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: inherit;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

a,
img {
  display: block;
}

button {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
}

body {
  font-variation-settings: "wght" 300;
  word-break: keep-all;
  font-size: 1.6rem;
  font-family: "PPSans", sans-serif;
  word-break: keep-all;
  position: relative;
  overflow-x: hidden;
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PPSans", sans-serif;
}

button {
  font-family: "PPSans", sans-serif;
  background: transparent;
  border: none;
  cursor: pointer;
}

main {
  background: #000;
  color: #fff;
  padding-top: 6.587rem;
  padding-left: 6.2rem;
}
@media (max-width: 699px) {
  main {
    padding-left: 0;
  }
}

.header {
  font-variation-settings: "wght" 400;
  width: 100%;
  height: 6.587rem;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  font-size: 1.2rem;
  background: #000;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-direction: row;
  height: 100%;
  padding: 0 2rem;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  z-index: 1000;
}

.menu {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
  flex-direction: row;
  position: fixed;
  width: calc(37.5vw + 6.2rem);
  height: 100vh;
  z-index: 998;
  top: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 100;
  font-size: 2.8rem;
  padding-top: 6.587rem;
  background: #000;
  color: #fff;
  font-size: 2.8rem;
  transition: transform 0.35s;
  transform: translateX(calc(-100% + 6.2rem));
}
.menu a:hover {
  text-decoration: underline;
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .menu {
    width: calc(50vw + 6.2rem);
  }
}
@media (min-width: 700px) and (max-width: 999px) {
  .menu {
    width: calc(50vw + 6.2rem);
  }
}
@media (max-width: 699px) {
  .menu {
    width: 100%;
    transform: translateX(-100%);
  }
}
.menu--open {
  left: 0;
  transform: translateX(0);
}
.menu-opener {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  width: 6.2rem;
  order: 1;
  flex-shrink: 0;
  position: relative;
}
@media (max-width: 699px) {
  .menu-opener {
    display: none;
  }
}
.menu-title {
  position: absolute;
  font-weight: 100;
  font-size: 1.6rem;
  bottom: 2rem;
  right: 0;
  white-space: nowrap;
  line-height: 1;
}
.menu-title span {
  display: inline-block;
  writing-mode: vertical-rl;
  transform: rotate(-180deg) translateX(150%);
}
.menu-btn {
  display: none;
}
@media (max-width: 699px) {
  .menu-btn {
    display: block;
  }
}
.menu-close-btn {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  cursor: pointer;
  transition: transform 0.3s;
}
.menu-close-btn-container {
  display: flex;
  width: 6.2rem;
  transform: translateX(2rem);
}
.menu-close-btn::after, .menu-close-btn::before {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  height: 2px;
  left: 0;
  top: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: inline-block;
  background: #fff;
  width: 60%;
  transition: width 0.3s, transform 0.3s;
}
.menu-close-btn::before {
  transform: translateX(-50%) translateY(calc(-50% - 4px));
}
.menu-close-btn::after {
  transform: translateX(-50%) translateY(calc(-50% + 4px));
}
.menu-close-btn:hover::before {
  transform: translateX(-50%) translateY(calc(-50% - 6px));
}
.menu-close-btn:hover::after {
  transform: translateX(-50%) translateY(calc(-50% + 6px));
}
.menu-close-btn--open::after, .menu-close-btn--open::before {
  width: 50%;
}
.menu-close-btn--open::before {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.menu-close-btn--open::after {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.menu-close-btn--open:hover::after, .menu-close-btn--open:hover::before {
  width: 37.5%;
}
.menu-close-btn--open:hover::before {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.menu-close-btn--open:hover::after {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.menu-inner {
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  white-space: nowrap;
  overflow: hidden;
}
.menu-contents {
  font-variation-settings: "wght" 300;
  flex-grow: 1;
}
@media (max-width: 699px) {
  .menu-contents {
    width: 100%;
    font-size: 3.2rem;
  }
}
.menu-site-title {
  font-variation-settings: "wght" 350;
  font-family: "PPSerif", sans-serif;
  font-size: 2.8rem;
  padding-top: 2.1rem;
  padding-bottom: 5.6rem;
}
@media (max-width: 699px) {
  .menu-site-title {
    width: 100%;
    font-size: 3.2rem;
  }
}
.menu-list {
  margin-bottom: 4.2rem;
}
.menu-item {
  line-height: 1.2;
}
.menu-item a {
  position: relative;
}
.menu-item a::before {
  display: inline-block;
  width: 5.6rem;
}
@media (max-width: 699px) {
  .menu-item a::before {
    width: 6.5rem;
  }
}
.menu-item:nth-child(1) a::before {
  content: "①";
}
.menu-item:nth-child(2) a::before {
  content: "②";
}
.menu-item:nth-child(3) a::before {
  content: "③";
}
.menu-item:nth-child(4) a::before {
  content: "④";
}
.menu-item:nth-child(5) a::before {
  content: "⑤";
}
.menu-item:nth-child(6) a::before {
  content: "⑥";
}
.menu-external-list {
  font-size: 1.6rem;
}
.menu-external-item {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 0;
  flex-direction: row;
  line-height: 1.2;
}
.menu-external-item::before {
  content: "→";
  display: inline-block;
  width: 3.2rem;
}
.menu-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-direction: row;
  margin-top: 4.405rem;
  font-size: 1.6rem;
  max-width: 30.4rem;
  width: 100%;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: inherit;
  font-weight: inherit;
}
@media (max-width: 699px) {
  .title {
    position: static;
    transform: none;
  }
}

.main-inner {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  gap: 0;
  flex-direction: row;
}
.main-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  z-index: 1;
}
.main-title {
  position: relative;
  font-size: 10vw;
  white-space: nowrap;
  line-height: 0.95;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-top: calc(-6.587rem - 2rem);
}
.main-title-roller {
  display: inline-block;
}
.main-title::after, .main-title::before {
  top: 4vw;
  position: absolute;
  font-size: 2.4rem;
}
.main-title::before {
  content: "②⓪";
  left: 15%;
}
.main-title::after {
  content: "②②";
  right: 15%;
}
.main-sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-direction: row;
  text-transform: uppercase;
  font-size: 1.4rem;
}
.main-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0;
  flex-direction: row;
  width: 100%;
  align-self: flex-end;
  font-size: 1.6rem;
}
.main-bg-item {
  display: flex;
  position: absolute;
  width: 60vw;
  height: 100%;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
}
.main-bg-item img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.introduce-inner {
  padding-top: 25vh;
}
.introduce-desc {
  font-variation-settings: "wght" 200;
  font-size: clamp(22px, 3.3333333333vw, 60px);
  width: 33.3vw;
}
.introduce-desc:nth-child(2) {
  margin-left: 50%;
}
@media (max-width: 699px) {
  .introduce-desc:nth-child(2) {
    margin-left: auto;
    margin-right: 0;
    margin-top: 10vh;
  }
}
@media (max-width: 699px) {
  .introduce-desc {
    width: 75vw;
  }
}
.introduce-info-img {
  width: 100%;
}
.introduce-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 999px) {
  .introduce-info-grid {
    display: block;
    padding-top: 10vh;
  }
}
.introduce-info-item:first-child {
  margin-right: 13.31vw;
}
@media (max-width: 999px) {
  .introduce-info-item:first-child {
    margin-right: 0;
  }
}
.introduce-info-item:nth-child(2) {
  display: grid;
  grid-template: "a b" "c c";
  padding-top: 17rem;
}
@media (max-width: 999px) {
  .introduce-info-item:nth-child(2) {
    padding-top: 10vh;
  }
}
@media (max-width: 699px) {
  .introduce-info-item:nth-child(2) {
    display: block;
  }
}
.introduce-info-btn-container {
  white-space: nowrap;
  grid-area: c;
}
@media (max-width: 999px) {
  .introduce-info-btn-container {
    margin-top: 2.4rem;
  }
}
@media (max-width: 699px) {
  .introduce-info-btn-container {
    margin-top: 10vh;
  }
}
.introduce-info-btn-container .btn {
  border: 1px solid #fff;
}
.introduce-info-text {
  font-variation-settings: "wght" 400;
  padding-right: 10%;
  font-size: 1.6rem;
  line-height: 1.4;
}
@media (min-width: 1200px) {
  .introduce-info-text {
    padding-right: 25%;
  }
}
@media (max-width: 999px) {
  .introduce-info-text {
    padding-right: 25%;
  }
}
@media (max-width: 699px) {
  .introduce-info-text {
    padding-right: 0;
    width: 75vw;
  }
}
.introduce-info-text:nth-child(2) {
  margin-right: 0;
  margin-left: auto;
}
@media (max-width: 699px) {
  .introduce-info-text:nth-child(2) {
    margin-top: 10vh;
  }
}

.visual {
  position: relative;
  height: 500vh;
  margin-top: 10vh;
}
.visual-inner {
  top: 6.587rem;
  display: flex;
  height: calc(100vh - 6.587rem);
  position: sticky;
}
.visual-text {
  font-variation-settings: "wght" 200;
  font-size: 12vw;
  text-transform: uppercase;
}
.visual-text-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 0;
  flex-direction: column;
  width: 100%;
}
.visual-text:nth-child(1) {
  text-align: left;
  font-family: "PPSerif", sans-serif;
}
.visual-text:nth-child(1)::first-letter {
  font-family: "PPSans", sans-serif;
}
.visual-text:nth-child(2) {
  text-align: right;
  font-family: "PPGlare", sans-serif;
}
.visual-text:nth-child(2)::first-letter {
  font-family: "PPSans", sans-serif;
}
.visual-text:nth-child(3) {
  text-align: center;
  font-family: "PPSans", sans-serif;
}
.visual-text:nth-child(3)::first-letter {
  font-family: "PPGlare", sans-serif;
}
.visual-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.visual-overlay img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  top: 0;
  left: 0;
}

.sans-to-serif {
  margin-top: -100vh;
  height: 300vh;
  position: relative;
}
.sans-to-serif-inner {
  height: 100%;
}
.sans-to-serif-contents {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  flex-direction: column;
  position: sticky;
  overflow: hidden;
  top: 8.587rem;
  background: #fff;
  color: #000;
  height: calc(100vh - 6.587rem - 4rem);
  padding: 1.2rem 2rem 2rem 2rem;
  border-radius: 16px;
}
.sans-to-serif-btn {
  width: 50vw;
  border: 1px solid #000;
  margin: 0 auto;
}

.random-text {
  display: inline-block;
  transition: transform 0.5s, font-variation-settings 0.5s;
  will-change: transform, font-variation-settings;
}
@media (max-width: 699px) {
  .random-text {
    transform: translateX(0) !important;
  }
}
.random-text-container {
  font-size: clamp(36px, 5.1111111111vw, 92px);
  text-transform: uppercase;
}
@media (max-width: 480px) {
  .random-text-container {
    font-size: 28px;
  }
}
.random-text-inner {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10vw;
  flex-direction: row;
  display: inline-flex;
  transition: transform 0.5s;
  will-change: transform;
}
@media (max-width: 699px) {
  .random-text-inner {
    display: block;
    transform: translateX(0) !important;
  }
}
.random-text-item {
  position: relative;
}
@media (max-width: 699px) {
  .random-text-item:nth-child(3), .random-text-item:nth-child(4), .random-text-item:nth-child(6) {
    text-align: center;
  }
  .random-text-item:nth-child(5) {
    text-align: right;
  }
  .random-text-item:nth-child(4) .serif {
    text-align: right;
  }
}

.glyph {
  margin: 10vh 0;
}
.glyph-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 699px) {
  .glyph-grid {
    display: block;
  }
}
.glyph-selector-wrap {
  position: sticky;
  z-index: 2;
  top: 6.587rem;
  width: 50%;
  border: 1px solid #fff;
}
@media (max-width: 699px) {
  .glyph-selector-wrap {
    width: 100%;
  }
}
.glyph-text {
  font-variation-settings: "wght" 200;
  font-size: clamp(22px, 3.3333333333vw, 60px);
  width: 37.5vw;
  padding: 2em 0;
}
@media (max-width: 699px) {
  .glyph-text {
    display: none;
  }
}
.glyph-cell {
  padding: 2rem;
  border: 1px solid #fff;
}
.glyph-cell:nth-child(1) {
  border-top: none;
  border-left: none;
  border-right: none;
}
@media (max-width: 699px) {
  .glyph-cell:nth-child(2) {
    display: none;
  }
}
.glyph-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4.8rem, 1fr));
}
.glyph-item {
  padding-bottom: 100%;
  position: relative;
}
.glyph-item-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 2.4rem;
}
.glyph-item--active {
  background: #fff;
  color: #000;
}
.glyph-word {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  font-size: 35vw;
  position: sticky;
  top: 0;
  line-height: 1;
  height: 100vh;
  padding-top: 6.587rem;
}

.sampler-btn {
  border: 1px solid #fff;
  opacity: 0.6;
  transition: opacity 0.3s;
}
.sampler-btn:hover {
  opacity: 1;
}
.sampler-btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0 2rem;
}
.sampler-btn--active {
  opacity: 1;
}
.sampler-slider-container {
  margin-top: 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0 2rem;
}
@media (max-width: 699px) {
  .sampler-slider-container {
    display: block;
  }
}
@media (max-width: 699px) {
  .sampler-slider-wrap {
    margin-top: 2.8rem;
  }
}
@media (max-width: 699px) {
  .sampler-slider-wrap:first-child {
    margin-top: 0;
  }
}
.sampler-selector {
  padding: 1.2rem 0;
}
.sampler-selector:focus {
  background: inherit;
  color: inherit;
}
.sampler-selector-wrap {
  border-bottom: 1px solid #fff;
}
.sampler-selector-wrap::after {
  right: 0;
}
.sampler-result {
  padding: 10vh 0;
  text-align: center;
}

.use {
  position: relative;
}
.use-inner {
  height: 100%;
}
.use-btn {
  background: #000;
  color: #fff;
  margin: auto auto 3.2935rem auto;
}

.slide {
  height: 200vh;
  position: relative;
}
.slide-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 6.587rem - 4rem);
  position: sticky;
  top: 8.587rem;
}
.slide-bg-container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
.slide-bg-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 48px;
  background-size: cover;
  background-position: center;
}
.slide-bg-item:nth-child(1) {
  background: url("/assets/img/posters/bg-1.png");
}
.slide-bg-item:nth-child(2) {
  background: url("/assets/img/posters/bg-2.png");
}
.slide-bg-item:nth-child(3) {
  background: url("/assets/img/posters/bg-3.png");
}
.slide-bg-item:nth-child(4) {
  background: url("/assets/img/posters/bg-4.png");
}
.slide-bg-item:nth-child(5) {
  background: url("/assets/img/posters/bg-5.png");
}
.slide-bg-item:nth-child(6) {
  background: url("/assets/img/posters/bg-6.png");
}
.slide-bg-item:nth-child(7) {
  background: url("/assets/img/posters/bg-7.png");
}
.slide-bg-item:nth-child(8) {
  background: url("/assets/img/posters/bg-8.png");
}
.slide-card-item {
  width: 30vw;
  height: 30vw;
  position: absolute;
  min-width: 220px;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.slide-card-item:nth-child(1) {
  background-image: url("/assets/img/posters/poster-1.png");
}
.slide-card-item:nth-child(2) {
  background-image: url("/assets/img/posters/poster-2.png");
}
.slide-card-item:nth-child(3) {
  background-image: url("/assets/img/posters/poster-3.png");
}
.slide-card-item:nth-child(4) {
  background-image: url("/assets/img/posters/poster-4.png");
}
.slide-card-item:nth-child(5) {
  background-image: url("/assets/img/posters/poster-5.png");
}
.slide-card-item:nth-child(6) {
  background-image: url("/assets/img/posters/poster-6.png");
}
.slide-card-item:nth-child(7) {
  background-image: url("/assets/img/posters/poster-7.png");
}
@media (max-width: 699px) {
  .slide-card-item {
    width: 80vw;
    height: 80vw;
  }
}

.language {
  font-variation-settings: "wght" 400;
  margin-top: 25vh;
  margin-bottom: 20vh;
  display: grid;
  gap: 0 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (max-width: 699px) {
  .language {
    grid-template-columns: 1fr 1fr;
  }
}
.language-list {
  font-family: "PPText", sans-serif;
  display: flex;
  flex-direction: column;
}
.language-list:last-child .language-item:last-child {
  margin-bottom: 0;
  margin-top: auto;
}
.language-item {
  padding: 0.64rem 0;
  text-align: center;
}

.special {
  position: relative;
}
.special-text {
  font-size: clamp(38px, 5.1111111111vw, 92px);
  font-variant-ligatures: discretionary-ligatures;
  line-height: 1;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 20vh auto;
  text-align: center;
}
.special-bg-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.purchase {
  position: relative;
}
.purchase-inner {
  height: 300vh;
}
.purchase-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  width: 75vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  gap: 2rem;
}
@media (max-width: 699px) {
  .purchase-list {
    flex-direction: column;
    width: calc(100% - 4rem);
    align-items: stretch;
  }
}
.purchase-item {
  flex: 1 0 0;
  background: #fff;
  color: #000;
}
.purchase-item a {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  gap: 0;
  flex-direction: column;
  min-height: 30vmin;
  padding: 1.6rem;
  height: 100%;
}
@media (max-width: 699px) {
  .purchase-item a {
    height: calc(33.3vh - 4rem);
  }
}
.purchase-item a::after {
  font-variation-settings: "wght" 500;
  content: "→";
  display: inline-block;
  transition: transform 0.3s;
  align-self: flex-start;
}
.purchase-item a:hover .line {
  overflow: hidden;
}
.purchase-item a:hover .char {
  animation: animation__roll 1.2s both;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.purchase-item a:hover .char:nth-child(1) {
  animation-delay: 0s;
}
.purchase-item a:hover .char:nth-child(2) {
  animation-delay: 0.03s;
}
.purchase-item a:hover .char:nth-child(3) {
  animation-delay: 0.06s;
}
.purchase-item a:hover .char:nth-child(4) {
  animation-delay: 0.09s;
}
.purchase-item a:hover .char:nth-child(5) {
  animation-delay: 0.12s;
}
.purchase-item a:hover .char:nth-child(6) {
  animation-delay: 0.15s;
}
.purchase-item a:hover .char:nth-child(7) {
  animation-delay: 0.18s;
}
.purchase-item a:hover .char:nth-child(8) {
  animation-delay: 0.21s;
}
.purchase-item a:hover .char:nth-child(9) {
  animation-delay: 0.24s;
}
.purchase-item a:hover .char:nth-child(10) {
  animation-delay: 0.27s;
}
.purchase-item a:hover::after {
  transform: translateX(100%);
}
.purchase-item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-direction: row;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-variation-settings: "wght" 500;
}
.purchase-item-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  flex-grow: 1;
  font-family: "PPSerif", sans-serif;
  font-size: 3.4rem;
  text-transform: uppercase;
  text-align: center;
}
.purchase-bg {
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
}
.purchase-bg-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.credits-list {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
  margin-top: 10vh;
}
@media (min-width: 700px) and (max-width: 999px) {
  .credits-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 699px) {
  .credits-list {
    grid-template-columns: 1fr;
    gap: 5vh;
  }
}
.credits-inner {
  min-height: auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.credits-item {
  font-variation-settings: "wght" 400;
}
.credits-item:first-child .credits-contents {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
@media (min-width: 700px) and (max-width: 999px) {
  .credits-item:first-child .credits-contents {
    display: block;
  }
}
@media (max-width: 699px) {
  .credits-item:first-child .credits-contents {
    display: block;
  }
}
.credits-desc {
  padding-right: 15%;
}
@media (min-width: 700px) and (max-width: 999px) {
  .credits-desc {
    margin-top: 2.4rem;
    padding-right: 0;
  }
}
@media (max-width: 699px) {
  .credits-desc {
    margin-top: 2.4rem;
    padding-right: 10vw;
  }
}
.credits-title {
  font-size: 1.6rem;
  padding-bottom: 1.6rem;
  margin-bottom: 1.6rem;
  border-bottom: 1px solid #fff;
}

.footer {
  background: #000;
  color: #fff;
  padding-left: 6.2rem;
  overflow: hidden;
}
@media (max-width: 699px) {
  .footer {
    padding-left: 0;
  }
}
.footer-inner {
  position: relative;
}
.footer-bg {
  width: 100%;
  height: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  font-size: 66vw;
  text-align: center;
}
.footer-copy {
  font-variation-settings: "wght" 400;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}/*# sourceMappingURL=style.css.map */