@font-face {
  font-family: 'PPGlare';
  font-style: normal;
  font-weight: 100 200 300 400 500 600 700 800 900;
  src: url('../assets/fonts/PPFragment-GlareVariable.woff2') format('woff2');
}
@font-face {
  font-family: 'PPSans';
  font-style: normal;
  font-weight: 100 200 300 400 500 600 700 800 900;
  src: url('../assets/fonts/PPFragment-SansVariable.woff2') format('woff2');
}
@font-face {
  font-family: 'PPSerif';
  font-style: normal;
  font-weight: 100 200 300 400 500 600 700 800 900;
  src: url('../assets/fonts/PPFragment-SerifVariable.woff2') format('woff2');
}
@font-face {
  font-family: 'PPText';
  font-style: normal;
  font-weight: 100 200 300 400 500 600 700 800 900;
  src: url('../assets/fonts/PPFragment-TextVariable.woff2') format('woff2');
}
