html {
  // 1200px 기준 10px
  width: 100%;
  font-size: $size__rem-base; // 10px
  $variable-size: 3.9%;
  @include mb {
    // font-size: 87.5%;
    font-size: calc($size__rem-base - #{$variable-size * 2});
  }
  @include tb {
    font-size: calc($size__rem-base - #{$variable-size * 2});
  }
  @include pc-sm {
    font-size: calc($size__rem-base - #{$variable-size * 1});
  }
  @include pc-md {
    font-size: calc($size__rem-base);
  }
  @include pc-lg {
    font-size: calc($size__rem-base + #{$variable-size * 1});
  }
  @include pc-ul {
    font-size: calc($size__rem-base + #{$variable-size * 2});
  }
  @include pc-max {
    font-size: calc($size__rem-base + #{$variable-size * 3});
  }
}
html,
body {
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: inherit;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
a,
img {
  display: block;
}
button {
  outline: none;
  appearance: none;
  border: none;
}
body {
  @include util__font-weight(300);
  word-break: keep-all;
  font-family: $font__sans;
  word-break: keep-all;
  position: relative;
  overflow-x: hidden;
}
input,
textarea {
}

main {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font__sans;
}
button {
  font-family: $font__sans;
  background: transparent;
  border: none;
  cursor: pointer;
}
