/* 폰트 관련 */
.glare {
  font-family: $font__glare;
}
.sans {
  font-family: $font__sans;
}
.serif {
  font-family: $font__serif;
}
.text {
  font-family: $font__text;
}

.pc-only {
  @include mb {
    display: none !important;
  }
}
.tb-only {
  @media (min-width: 1000px) {
    display: none !important;
  }
}
.mb-only {
  @media (min-width: 700px) {
    display: none !important;
  }
}
/**모바일/pc 관련*/

/*버튼 관련*/
.btn {
  @include util__font-weight(400);
  @include util__flex(center, center);
  display: inline-block;
  padding: 1.2rem 2rem;
  position: relative;
  line-height: 1;
  font-size: 1.2rem;
  text-transform: uppercase;
  &-white {
    background: $color__white;
    color: $color__black;
  }

  &:hover {
    .char {
      animation: animation__roll 0.7s both;
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      @for $i from 1 to 31 {
        &:nth-child(#{$i}) {
          animation-delay: #{0.02 * ($i - 1)}s;
        }
      }
    }
  }

  &-slide {
    display: inline-block;
    overflow: hidden;
    &:not(:first-child) {
      position: absolute;
      display: none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}
/** 섹션 **/
.sc {
  &-inner {
    min-height: calc(100vh - $size__header-height);
    padding: 2rem;
    position: relative;
  }
  &-title {
    @include util__font-weight(200);
    font-family: $font__glare;
    font-size: $size__font-size-h3;
  }
}

/** 접근성 관련 **/
.blind {
  font-size: 0;
  position: absolute;
  display: block;
  z-index: -9999;
  text-indent: 9999;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

/** 스펙 표 **/
.spec {
  &-row {
    @include util__flex(stretch, flex-start);
    @include util__font-weight(400);
    font-size: 1.6rem;
    padding: 0.8rem 0;
    border-top: 1px solid $color__white;
    gap: 2rem;
  }
  &-cate {
    flex: 1 0 0;
  }
  &-desc {
    flex: 1 0 0;
  }
}

/** ticker **/
.ticker {
  @include util__font-weight(200);
  font-size: clamp(21px, 1.328vw, 30px);
  display: flex;
  white-space: nowrap;
  -webkit-text-stroke-width: 1px;
  animation: animation__ticker 5s linear infinite both;

  &-item {
    text-transform: uppercase;

    &::before {
      width: 4em;
      display: inline-block;
      text-align: center;
    }

    &:nth-child(2n + 1) {
      &::before {
        content: '✳';
      }
    }
    &:nth-child(2n) {
      font-family: $font__serif;
      &::before {
        content: '●';
      }
    }
  }
}

/* 슬라이더 관련 */
.label {
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
  opacity: 0.6;
}
.slider {
  appearance: none;
  width: 100%;
  height: 2px;
  margin-top: 4rem;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: $color__black;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 100%;
    border: 1px solid $color__white;
    cursor: pointer;
  }

  &-info {
    @include util__flex(space-between, center);
  }
  &-value {
    font-size: 1.4rem;
  }
}

/*selector 관련*/
.selector {
  @include util__font-weight(400);
  width: 100%;
  appearance: none;
  font-family: $font__sans;
  background: $color__black;
  padding: 1.2rem 2rem;
  border: none;
  text-align: left;
  font-size: 1.4rem;
  line-height: normal;

  &-wrap {
    position: relative;
    &::after {
      content: '↓';
      position: absolute;
      display: inline-block;
      top: 46%;
      right: 2rem;
      font-size: 1.6rem;
      transform: translateY(-50%);
      transform-origin: center;
      transition: color 0.3s, transform 0.3s;
      pointer-events: none;
    }

    &--focus {
      .selector {
        outline: none;
        background: $color__white;
        color: $color__black;
      }
      .selector-option {
        display: block;
        z-index: 1;
      }
      &::after {
        transform: translateY(-50%) rotate(180deg);
        color: $color__black;
      }
    }
  }
  &-option {
    display: none;
    background: $color__black;
    position: absolute;
    top: 100%;
    left: -1px;
    width: calc(100% + 2px);
    background: $color__black;
    color: $color__white;
    max-height: 50vh;
    overflow-y: auto;
    &-item {
      border: 1px solid $color__white;
      border-top: none;
      font-size: 1.4rem;
      line-height: normal;
      &:first-child {
        border-top: 1px solid $color__white;
      }
    }
    &-btn {
      width: 100%;
      padding: 1.2rem 2rem;
      cursor: pointer;
      text-align: left;
    }
  }
}

/* text line 관련 */
.line-wrap {
  display: inline-block;
  overflow: hidden;
}
.char {
  display: inline-block;
}
