/* 폰트 관련 */
.glare {
  font-family: $font__glare;
}
.sans {
  font-family: $font__sans;
}
.serif {
  font-family: $font__serif;
}
.text {
  font-family: $font__text;
}
/**모바일/pc 관련*/

/*버튼 관련*/
.btn {
  display: inline-block;
  padding: 1.2rem 2rem;
  position: relative;
  line-height: 1;
  text-transform: uppercase;
  &-white {
    background: $color__white;
    color: $color__black;
  }

  &-slide {
    &:not(:first-child) {
      position: absolute;
      display: none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}

/** 접근성 관련 **/
.blind {
  font-size: 0;
  position: absolute;
  display: block;
  z-index: -9999;
  text-indent: 9999;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}
