/* 폰트 관련 */
.glare {
  font-family: $font__glare;
}
.sans {
  font-family: $font__sans;
}
.serif {
  font-family: $font__serif;
}
.text {
  font-family: $font__text;
}

.pc-only {
  @include mb {
    display: none !important;
  }
}
.mb-only {
  @media (min-width: 700px) {
    display: none !important;
  }
}
/**모바일/pc 관련*/

/*버튼 관련*/
.btn {
  @include util__font-weight(500);
  display: inline-block;
  padding: 1.2rem 2rem;
  position: relative;
  line-height: 1;
  font-size: 1.2rem;
  text-transform: uppercase;
  &-white {
    background: $color__white;
    color: $color__black;
  }

  &-slide {
    &:not(:first-child) {
      position: absolute;
      display: none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}
/** 섹션 **/
.sc {
  &-inner {
    min-height: calc(100vh - $size__header-height);
    padding: 2rem;
    position: relative;
  }
}

/** 접근성 관련 **/
.blind {
  font-size: 0;
  position: absolute;
  display: block;
  z-index: -9999;
  text-indent: 9999;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

/** 스펙 표 **/
.spec {
  &-row {
    @include util__flex(stretch, flex-start);
    font-size: 1.6rem;
    padding: 0.8rem 0;
    border-top: 1px solid $color__white;
    gap: 2rem;
  }
  &-cate {
    flex: 1 0 0;
  }
  &-desc {
    flex: 1 0 0;
  }
}
