@mixin pc-lg {
  @media (max-width: $size__pc-lg) {
    @content;
  }
}
@mixin pc-md {
  @media (max-width: $size__pc-md) {
    @content;
  }
}

@mixin tb-md {
  @media (max-width: $size__tb-md) {
    @content;
  }
}

@mixin util__flex($jc: flex-start, $ai: stretch, $gap: 0, $dir: row) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $gap;
  flex-direction: $dir;
}
