$size__section-inner: 0 10rem; //17.5 ~ 25
// $size__letter-spacing: 0.02em;
// $size__line-height: 1.33;
// $size__p-line-height: 1.6;

$size__pc-lg: 1440px;
$size__pc-md: 1024px;
$size__tb-md: 749px;

$color__white: #fff;
$color__black: #000;

$font__glare: 'PPGlare', sans-serif;
$font__sans: 'PPSans', sans-serif;
$font__serif: 'PPSerif', sans-serif;
$font__text: 'PPText', sans-serif;
