$size__section-inner: 0 10rem; //17.5 ~ 25
// $size__letter-spacing: 0.02em;
// $size__line-height: 1.33;
// $size__p-line-height: 1.6;

$size__rem-base: 62.5%;
$size__pc-ul: 2399px;
$size__pc-lg: 1999px;
$size__pc-md: 1599px;
$size__pc-sm: 1199px;
$size__tb: 999px;
$size__mb: 699px;
$size__header-height: 6.587rem;
$size__side-opener-width: 6.2rem;
$size__font-size-h1: clamp(38px, 92/1800 * 100vw, 92px);
$size__font-size-h2: clamp(22px, 60/1800 * 100vw, 60px);

$color__white: #fff;
$color__black: #000;

$font__glare: 'PPGlare', sans-serif;
$font__sans: 'PPSans', sans-serif;
$font__serif: 'PPSerif', sans-serif;
$font__text: 'PPText', sans-serif;
