main {
  background: $color__black;
  color: $color__white;
  padding-top: $size__header-height;
  padding-left: $size__side-opener-width;

  @include mb {
    padding-left: 0;
  }
}

// header
.header {
  @include util__font-weight(400);
  width: 100%;
  height: $size__header-height;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  font-size: 1.2rem;
  background: $color__black;

  &-inner {
    @include util__flex(space-between, center);
    height: 100%;
    padding: 0 2rem;
    background: $color__black;
    color: $color__white;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    z-index: 1000;
  }
}
.menu {
  @include util__flex;
  position: fixed;
  width: calc(37.5vw + $size__side-opener-width);
  height: 100vh;
  z-index: 998;
  top: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 100;
  font-size: 2.8rem;
  padding-top: $size__header-height;
  background: $color__black;
  color: $color__white;
  font-size: 2.8rem;
  transition: transform 0.35s;
  transform: translateX(calc(-100% + 6.2rem));
  a:hover {
    text-decoration: underline;
  }

  @include pc-sm {
    width: calc(50vw + $size__side-opener-width);
  }
  @include tb {
    width: calc(50vw + $size__side-opener-width);
  }
  @include mb {
    width: 100%;
    transform: translateX(-100%);
  }

  &--open {
    left: 0;
    transform: translateX(0);
  }

  &-opener {
    @include util__flex(center, center);
    width: $size__side-opener-width;
    order: 1;
    flex-shrink: 0;
    position: relative;
    @include mb {
      display: none;
    }
  }
  &-title {
    position: absolute;
    font-weight: 100;
    font-size: 1.6rem;
    bottom: 2rem;
    right: 0;
    white-space: nowrap;
    line-height: 1;

    span {
      display: inline-block;
      writing-mode: vertical-rl;
      transform: rotate(-180deg) translateX(150%);
    }
  }
  &-btn {
    display: none;

    @include mb {
      display: block;
    }
  }
  &-close-btn {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    cursor: pointer;
    transition: transform 0.3s;

    &-container {
      display: flex;
      width: 6.2rem;
      transform: translateX(2rem);
    }

    $gap: 4px;
    $hover-gap: 6px;
    &::after,
    &::before {
      @include util__pseudo(50%, 2px);
      @include util__absolute-center;
      display: inline-block;
      background: $color__white;
      width: 60%;
      transition: width 0.3s, transform 0.3s;
    }
    &::before {
      transform: translateX(-50%) translateY(calc(-50% - $gap));
    }
    &::after {
      transform: translateX(-50%) translateY(calc(-50% + $gap));
    }
    &:hover {
      &::before {
        transform: translateX(-50%) translateY(calc(-50% - $hover-gap));
      }
      &::after {
        transform: translateX(-50%) translateY(calc(-50% + $hover-gap));
      }
    }

    &--open {
      &::after,
      &::before {
        width: 50%;
      }
      &::before {
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      }
      &::after {
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
      }
      &:hover {
        &::after,
        &::before {
          width: calc(50% * 0.75);
        }
        &::before {
          transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        }
        &::after {
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
        }
      }
    }
  }
  &-inner {
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    white-space: nowrap;
    overflow: hidden;
  }
  &-contents {
    @include util__font-weight(300);
    flex-grow: 1;
    @include mb {
      width: 100%;
      font-size: 3.2rem;
    }
  }
  &-site-title {
    @include util__font-weight(350);
    font-family: $font__serif;
    font-size: 2.8rem;
    padding-top: 2.1rem;
    padding-bottom: 5.6rem;
    @include mb {
      width: 100%;
      font-size: 3.2rem;
    }
  }
  &-list {
    margin-bottom: 4.2rem;
  }
  &-item {
    line-height: 1.2;
    a {
      position: relative;
      &::before {
        display: inline-block;
        width: 5.6rem;
        @include mb {
          width: 6.5rem;
        }
      }
    }
    &:nth-child(1) a::before {
      content: '①';
    }
    &:nth-child(2) a::before {
      content: '②';
    }
    &:nth-child(3) a::before {
      content: '③';
    }
    &:nth-child(4) a::before {
      content: '④';
    }
    &:nth-child(5) a::before {
      content: '⑤';
    }
    &:nth-child(6) a::before {
      content: '⑥';
    }
  }
  &-external {
    &-list {
      font-size: 1.6rem;
    }
    &-item {
      @include util__flex(stretch, center);
      line-height: 1.2;
      &::before {
        content: '→';
        display: inline-block;
        width: 3.2rem;
      }
    }
  }
  &-bottom {
    @include util__flex(space-between, center);
    margin-top: 4.405rem;
    font-size: 1.6rem;
    max-width: 30.4rem;
    width: 100%;
    &-item {
    }
  }
}
.title {
  @include util__absolute-center;
  font-size: inherit;
  font-weight: inherit;

  @include mb {
    position: static;
    transform: none;
  }
}
// // header
// section
.main {
  &-inner {
    @include util__flex(stretch);
  }
  &-text {
    &-container {
      @include util__absolute-center;
      text-align: center;
      z-index: 1;
    }
  }
  &-title {
    position: relative;
    font-size: 10vw;
    white-space: nowrap;
    line-height: 0.95;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    margin-top: calc(-#{$size__header-height} - 2rem);
    &-roller {
      display: inline-block;
    }
    &::after,
    &::before {
      top: 4vw;
      position: absolute;
      font-size: 2.4rem;
    }
    &::before {
      content: '②⓪';
      left: 15%;
    }
    &::after {
      content: '②②';
      right: 15%;
    }
  }
  &-sub {
    @include util__flex(space-between, center);
    text-transform: uppercase;
    font-size: 1.4rem;
  }
  &-bottom {
    @include util__flex(space-between, flex-end);
    width: 100%;
    align-self: flex-end;
    font-size: 1.6rem;
  }
  &-bg {
    &-item {
      display: flex;
      position: absolute;
      width: 60vw;
      height: 100%;
      top: -2rem;
      left: 50%;
      transform: translateX(-50%);
      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

.introduce {
  &-inner {
    padding-top: 25vh;
  }

  &-desc {
    @include util__font-weight(200);
    font-size: $size__font-size-h2;
    width: 33.3vw;

    &:nth-child(2) {
      margin-left: 50%;

      @include mb {
        margin-left: auto;
        margin-right: 0;
        margin-top: 10vh;
      }
    }

    @include mb {
      width: 75vw;
    }
  }

  &-info {
    &-img {
      width: 100%;
    }
    &-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;

      @media (max-width: $size__tb) {
        display: block;
        padding-top: 10vh;
      }
    }
    &-item {
      &:first-child {
        margin-right: 13.31vw;
        @media (max-width: $size__tb) {
          margin-right: 0;
        }
      }
      &:nth-child(2) {
        display: grid;
        grid-template: 'a b' 'c c';
        padding-top: 17rem;
        @media (max-width: $size__tb) {
          padding-top: 10vh;
        }
        @include mb {
          display: block;
        }
      }
    }
    &-btn-container {
      white-space: nowrap;
      grid-area: c;

      @media (max-width: $size__tb) {
        margin-top: 2.4rem;
      }

      @include mb {
        margin-top: 10vh;
      }

      .btn {
        border: 1px solid $color__white;
      }
    }
    &-text {
      @include util__font-weight(400);
      padding-right: 10%;
      font-size: 1.6rem;
      line-height: 1.4;

      @media (min-width: 1200px) {
        padding-right: 25%;
      }
      @media (max-width: $size__tb) {
        padding-right: 25%;
      }
      @include mb {
        padding-right: 0;
        width: 75vw;
      }

      &:nth-child(2) {
        margin-right: 0;
        margin-left: auto;

        @include mb {
          margin-top: 10vh;
        }
      }
    }
  }
}

.visual {
  position: relative;
  height: 500vh;
  margin-top: 10vh;
  &-inner {
    top: $size__header-height;
    display: flex;
    height: calc(100vh - $size__header-height);
    position: sticky;
  }
  &-text {
    @include util__font-weight(200);
    font-size: 12vw;
    text-transform: uppercase;

    &-container {
      @include util__flex(center, stretch, 0, column);
      width: 100%;
    }

    &:nth-child(1) {
      text-align: left;
      font-family: $font__serif;
      &::first-letter {
        font-family: $font__sans;
      }
    }
    &:nth-child(2) {
      text-align: right;
      font-family: $font__glare;
      &::first-letter {
        font-family: $font__sans;
      }
    }
    &:nth-child(3) {
      text-align: center;
      font-family: $font__sans;
      &::first-letter {
        font-family: $font__glare;
      }
    }
  }
  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;
      top: 0;
      left: 0;
    }
  }
}

.sans-to-serif {
  margin-top: -100vh;
  height: 300vh;
  position: relative;
  &-inner {
    height: 100%;
  }
  &-contents {
    @include util__flex(space-between, stretch, 0, column);
    position: sticky;
    top: calc($size__header-height + 2rem);
    background: $color__white;
    color: $color__black;
    height: calc(100vh - $size__header-height - 4rem);
    padding: 1.2rem 2rem 2rem 2rem;
    border-radius: 16px;
  }
  &-btn {
    width: 50vw;
    border: 1px solid $color__black;
    margin: 0 auto;
  }
}

.random-text {
  display: inline-block;
  transition: transform 0.5s, font-variation-settings 0.5s;
  will-change: transform, font-variation-settings;

  @include mb {
    transform: translateX(0) !important;
  }

  &-container {
    font-size: clamp(36px, 92/1800 * 100vw, 92px);
    text-transform: uppercase;

    @media (max-width: 480px) {
      font-size: 28px;
    }
  }
  &-inner {
    @include util__flex(start, stretch, 10vw);
    display: inline-flex;
    transition: transform 0.5s;
    will-change: transform;

    @include mb {
      display: block;
      transform: translateX(0) !important;
    }
  }
  &-item {
    position: relative;

    @include mb {
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(6) {
        text-align: center;
      }
      &:nth-child(5) {
        text-align: right;
      }

      &:nth-child(4) .serif {
        text-align: right;
      }
    }
  }
}

.glyph {
  margin: 10vh 0;
  &-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include mb {
      display: block;
    }
  }

  &-selector {
    &-wrap {
      position: sticky;
      z-index: 2;
      top: calc($size__header-height);
      width: 50%;
      border: 1px solid $color__white;

      @include mb {
        width: 100%;
      }
    }
  }

  &-text {
    @include util__font-weight(200);
    font-size: $size__font-size-h2;
    width: 37.5vw;
    padding: 2em 0;

    @include mb {
      display: none;
    }
  }
  &-cell {
    padding: 2rem;
    border: 1px solid $color__white;
    &:nth-child(1) {
      border-top: none;
      border-left: none;
      border-right: none;
    }
    &:nth-child(2) {
      @include mb {
        display: none;
      }
    }
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);

    @include mb {
      grid-template-columns: repeat(13, 1fr);
    }
  }
  &-item {
    padding-bottom: 100%;
    position: relative;
    &-text {
      @include util__absolute-center;
      font-size: 2.4rem;
    }
  }
  &-word {
    @include util__flex(center, center);
    font-size: 35vw;
    position: sticky;
    top: 0;
    line-height: 1;
    height: 100vh;
    padding-top: $size__header-height;
  }
}

.sampler {
  &-btn {
    border: 1px solid $color__white;
    opacity: 0.6;
    &-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 0 2rem;
    }
    &--active {
      opacity: 1;
    }
  }
  &-slider {
    &-container {
      margin-top: 3.2rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 0 2rem;

      @include mb {
        display: block;
      }
    }

    &-wrap {
      @include mb {
        margin-top: 2.8rem;
      }

      &:first-child {
        @include mb {
          margin-top: 0;
        }
      }
    }
  }

  &-selector {
    padding: 1.2rem 0;
    &:focus {
      background: inherit;
      color: inherit;
    }
    &-wrap {
      border-bottom: 1px solid $color__white;
      &::after {
        right: 0;
      }
    }
  }

  &-result {
    padding: 10vh 0;
    text-align: center;
  }
}

// // section
